isChainweb: true
verbose:
  verbosity: false
gasLimit: 600
gasPrice: 1.0e-3
timetolive: 3600
trackMempoolStatConfig:
  retries: 10
  numChunks: 1
  exponentialBackoff: 50000
batchSize: 1
confirmationDepth: 6
chainwebVersion: development
scriptCommand:
  tag: RunSimpleExpressions
  contents: 
    tag: GaussianTD
    contents:
      mean: 1000000.0
      var: 62500.0
nodeChainIds: [0]
rewindTime: 600
logHandle: stdout
chainwebHosts:
  - hostname: common-node
    p2pPort: 1789
    servicePort: 1848

